tags
fs.img
xv6-user/_*
xv6-user/*.d
xv6-user/*.o
xv6-user/*.asm
xv6-user/*.sym
xv6-user/initcode
xv6-user/initcode.out
xv6-user/usys.S
kernel/*.back.c
kernel/*.example.c
kernel/*.d
kernel/*.o
kernel/include/*.back.h
kernel/include/*.example.h
target/*
qemu_compare.md
kernel-qemu
kernel-qemu.asm
kernel-qemu.sym
sdcard.img
kernel-qemu
os.bin
.vscode
src/*.d
src/*.o
usrinit/*.o
usrinit/*.d
src/include/sysnum.h
src/bin.S
src/kernel
src/kernel.asm
src/kernel.sym
src/syscall.c
usrinit/_sacrifice
usrinit/initcode
usrinit/sacrifice.asm
usrinit/sacrifice.sym
usrinit/usys.S

